@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background-color: rgba(0,0,0, 0.65);
    color: #F0F0F0;
}

body {
    background-color: #F9F9F9;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    min-height: 100vh;
}

#container {
    padding: 3rem;
    border-radius: 2rem;
    background-color: #F0F0F0;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.2);
}